<h1>Listado de articulos</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Descripcoin</th>
      <th>Acciones</th>

    </tr>
  </thead>
  <tbody>
    <% @articles.each do |un_articulo| %>
      <tr>
        <td><%=un_articulo.title %></td>
        <td><%= un_articulo.description %></td>
        <td> vacio</td>
      </tr>
    <% end %>
  </tbody>
</table>
