<h1>Listado de articulos</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Descripción</th>
      <th>Acciones</th>

    </tr>
  </thead>
  <tbody>
    <% @articles.each do |un_articulo| %>
      <tr>
        <td><%=un_articulo.title %></td>
        <td><%= un_articulo.description %></td>
        <td><%= link_to 'Show', article_path(un_articulo) %></td>
        <td> <%= link_to 'Delete', article_path(un_articulo), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
