<h1 class="text-center mt-4">Editar categoría</h1>
<div class="row justify-content-center">
  <div class="col-10">
    <%= render 'form' %>
  </div>
  <div class="mb-3">
    <%= link_to '[ Cancelar y volver al artículo.]', category_path(@category), class: "text-info center" %>
  </div>
</div>
